<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <script>
        document.documentElement.style.fontSize = window.innerWidth / 10 + 'px'
    </script>
</head>

<body>

    <div class="wrap">
        <header>
            <i class="iconfont">&#xe70a</i>
            <input type="text" placeholder="给你推荐 菩提">
            <i class="iconfont">&#xe6f9</i>
        </header>
        <section>
            3
        </section>
        <footer>
            <ul>
                <li>
                    <a href="">发现音乐</a>
                </li>
                <li>
                    <a href="./layout/index2.html">我的音乐</a>
                </li>
                <li>
                    <a href="./layout/index3.html">朋友</a>
                </li>
                <li>
                    <a href="./layout/index4.html">账号</a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>